.main {
  background: linear-gradient(180deg, #2e2f36 0%, #17181c 100%);
  color: white;
  font-family: "Montserrat";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.whiteBorder {
  border-color: #ffffff !important;
  border-radius: 35px !important;
}

.whiteLabel {
  color: #757575 !important;
  &.Mui-focused {
    color: white !important;
  }
}

.buttonRegister {
  background: linear-gradient(45deg, #ad2d14 30%, #f42e07 90%);
  
  font-size: 12px;
  text-transform: none;
  font-weight: bold;
}

.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

.registerContainer {
  padding: 10px;
}

.registerLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: gray;
  }
}

.registerLink:hover {
  color: #f42e07;
}

.errorBorder {
  border-color: #e9b425 !important;
  border-radius: 35px !important;
}

.cursorButton {
  cursor: pointer;
}
