.buttonPost {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.postButton {
  padding: 15px 24px;
  color: white;
  align-items: flex-start;
  border-radius: 46px;
  border: 1px solid var(--orange, #9e1a00);
  font-family: "MontSerrat";
  font-weight: bold;
  background: var(
    --gradient-button,
    linear-gradient(180deg, #ad2d14 0%, #f42e07 100%)
  );
  position: absolute;
  bottom: 5px;
  width: 100px;
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
  position: absolute;
  top: 84px;
  right: 20px;
}

.endereco,
.clip,
.galeria,
.camera {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #1e1f23;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  color: gray;
}

.emoji {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #1e1f23;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  color: gray;
}

.scrollHidden {
  max-height: 330px;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  text-align: left;
  background-color: #1e1f23;
  width: 100%;
}

.avatarContainer {
  display: flex;
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  height: 37px;
  border-radius: 46px;
}

.avatarContainer input {
  width: 900%;
}

@media (max-width: 767px) {
  .accordions {
    display: none;
  }
}
