.modalContent {
  background: #17181c;
  color: white;
  font-family: "Montserrat";
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.whiteBorder {
  border-color: #ffffff !important;
  border-radius: 35px !important;
}

.whiteLabel {
  color: #757575 !important;
  &.Mui-focused {
    color: white !important;
  }
}

.errorBorder {
  border-color: #e9b425 !important;
  border-radius: 35px !important;
}

.cursorButton {
  cursor: pointer;
}

.buttonEdit {
  &:hover {
    color: gray;
  }
}

.buttonCancel {
  &:hover {
    color: gray;
  }
}

@media (max-width: 768px) {
  .buttonEdit {
    margin-top: 10px;
    height: 50px;
    font-size: 13px;
  }
  .buttonCancel {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 15px;
  }
}
