.main {
  margin-top: 26px;
}

.buttonAdd {
  background: linear-gradient(45deg, #ad2d14 30%, #f42e07 90%);
  font-family: "Montserrat";
  text-transform: none;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: gray;
  }
}

.buttonAdd:hover {
  color: gray;
}

.textButton {
  justify-content: center;
  display: flex;
}

.marketItem {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 10%;
  position: absolute;
}

.whiteBorder {
  border-color: #757575 !important;
  border-radius: 35px !important;
}

.errorBorder {
  border-color: #e9b425 !important;
  border-radius: 35px !important;
}

@media (max-width: 767px) {
  .buttonContainer {
    z-index: 0;
    margin-top: auto;
    position: relative;
    margin-top: 5%;
  }
}

.contentMarket {
  margin-left: 10%;
}

@media (max-width: 767px) {
  .contentMarket {
    margin-left: 7%;
  }
}
