.buttonEdit {
  background: linear-gradient(45deg, #ad2d14 30%, #f42e07 90%);
  color: #ffffff;
  border-radius: 35px;
  height: 54px;
  margin-top: -35px;

  text-transform: none;
  font-weight: bold;
  transition: color 0.3s;
  width: 140px;
  font-size: 15px;
  &:hover {
    color: gray;
  }
}

.textYellow {
  color: #e9b425;
}

@media (max-width: 768px) {
  .buttonEdit {
    margin-top: 32px;
  }
}
